<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 style="color: #fff">Hospital</h1>
</nav>
<div style="margin-top: 30px">
    <a href="/paciente" class="btn btn-primary btn-lg active">buscar paciente</a>
    <a href="/paciente/register" class="btn btn-success btn-lg active">Register paciente</a>
</div>
