 <nav class="navbar navbar-expand-lg navbar" style="background-color: #5D8BF4">
    <h1 class="display-6" style="color:#DFF6FF;">{{title}}</h1>
</nav>

<div class="position-absolute top-50 start-50 translate-middle" style="margin-top:58px; margin-right: 50px; ">

    <a href="/login" style="background-color:#DFF6FF; border-color:#DFF6FF; color:#5D8BF4" class="btn btn-lg active"> Login </a>
    <a href="/register" style="background-color:#5D8BF4; border-color:#5D8BF4; color:#DFF6FF"  class="btn btn-lg active">Register</a>

</div>

<h6 ALIGN="justify" style="background-color:#DFF6FF; color:#5D8BF4">Puedes ingresar con tu cuenta o crearte una si no tienes. </h6>
