body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 88px;
  background: #DFF6FF;
  color: #5D8BF4;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
}

a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 88px;
  background: #5D8BF4;
  color: #DFF6FF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px
}

.boton {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 88px;
  background: #DFF6FF;
  color: #5D8BF4;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
}

.boton:hover {
  background: #051367;
}
