<div class="row justify-content-md-center">
   <center><h1 style="color:#5D8BF4;" class="display-5" style="margin-top: 20px;" >Login</h1></center></br>
    <div class="col-md-4" style="margin-top:50px">
        {{#if message}}
           <div class="alert {{messageClass}}">
               {{message}}
           </div>
        {{/if}}
        
        <form method="post" action="/login"> <!-- cambio-->
        
        <!-- Email -->
        <div style="color:#2D31FA;" class="form-group" >
            Email
            <input type="text" name="email" id="email" class="form-control" placeholder="nombre@gmail.com">
        </div>

        <!-- PassWord -->
        <div style="color:#2D31FA;" class="form-group">
            PassWord
            <input type="password" name="password" id="password" class="form-control" placeholder="****">
        </div></br>
           
        <center><button  type="submit" style="background-color:#DFF6FF; border-color:#DFF6FF; color:#5D8BF4" class="btn btn-info btn-lg active">LOGIN</button></center>
        </form>
    </div>
</div>